@using PracUni.Models
@model Student
@{
    ViewBag.Title = "Detail";
}

<div class="container">
    <div class="row">
        <div class="col-md-4"><strong>Name:</strong></div>
        <div class="col-md-8">@Model.FirstName @Model.LastName</div>
    </div>

    <div class="row">
        <div class="col-md-4"><strong>Enrollment Date:</strong></div>
        <div class="col-md-8">@Model.EnrollmentDate.ToShortDateString()</div>
    </div>

    <div class="row">
        <div class="col-md-4"><strong>Enrollments:</strong></div>
        <div class="col-md-8">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        
                        <th>Course</th>
                        <th>Grade</th>
                        <th>Credits</th>
                    </tr>
                </thead>

                @foreach (var enrollment in Model.Enrollments)
                {
                    <tbody>
                        <tr>

                            <td>@enrollment.Course.Title</td>
                            <td>@enrollment.Grade.ToString()</td>
                            <td>@enrollment.Course.Credits</td>
                        </tr>
                        
                    </tbody>
                }
            </table>
            </div>
        </div>

    <!-- Button to go back to the list of students -->
    <a href="@Url.Action("Index", "Student")" class="btn btn-secondary">Back to List</a>
</div>

