@using PracUni.Models
@model List<Student>
@{
    ViewBag.Title = "Student";
}
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>#</th>               
            <th>First Name</th>      
            <th>Last Name</th>       
            <th>Enrollment Date</th> 
            <th>Action</th>          
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
        <tr>

            <td>@student.ID</td>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>@student.EnrollmentDate.ToShortDateString()</td>
            <td>
                <a href="@Url.Action("Detail", "Student", new { id = student.ID })" class="btn btn-info btn-sm">Detail</a>
            </td>
            <td>
                <a href="@Url.Action("Delete", "Student", new {id = student.ID})" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("AddStudent", "Student")" class="btn btn-info btn-sm">Add New Student</a>